[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
coverage = "*"
factory-boy = "*"
autopep8 = "==2.0.4"
pylint = "==2.13.9"
pytest-mock = "*"
sphinx = "*"
furo = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.6"

[scripts]
test = "coverage run --source=./src -m pytest tests/"
coverage = "coverage report -m"
pylint = "pylint src"
docs = "sphinx-build -M html docs/source/ docs/build/  -a"
